<div class="page-header">
    <h1 ng-bind="contactCtrl.header"></h1>
    <h4 ng-bind="contactCtrl.subheader"></h4>
</div>
<div class="container">
    <form class="form-horizontal" novalidate name="form" id="form">
        <div class="form-group">
            <div ng-class="form.name.$dirty && form.name.$invalid ? 'has-error' : ''">
                <label for="name" class="col-sm-2 col-md-4 control-label">Nombre:</label>
                <div class="col-sm-4 col-md-8">
                    <input type="text" id="name" name="name" class="form-control" ng-model="contactCtrl.data.name"
                           placeholder="Nombre" ng-pattern="/^([a-zA-Z ]){0,50}$/" required>
                </div>
            </div>
        </div>
        <div ng-if="contactCtrl.name === 'sugerencias'" class="form-group">
            <div ng-class="form.teamName.$dirty && form.teamName.$invalid ? 'has-error' : ''">
                <label for="teamName" class="col-sm-2 col-md-4 control-label">Nombre del Equipo:</label>
                <div class="col-sm-4 col-md-8">
                    <input type="text" id="teamName" name="teamName" class="form-control"
                           ng-model="contactCtrl.data.teamName" placeholder="Nombre del Equipo"
                           ng-pattern="/^([a-zA-Z ]){0,50}$/" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div ng-class="form.email.$dirty && form.email.$invalid ? 'has-error' : ''">
                <label for="email" class="col-sm-2 col-md-4 control-label">Correo Electrónico:</label>
                <div class="col-sm-4 col-md-8">
                    <input type="text" id="email" name="email" class="form-control" ng-model="contactCtrl.data.email"
                           placeholder="Correo Electrónico"
                           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div ng-class="form.phone.$dirty && form.phone.$invalid ? 'has-error' : ''">
                <label for="phone" class="col-sm-2 col-md-4 control-label">Teléfono:</label>
                <div class="col-sm-4 col-md-8">
                    <input type="text" id="phone" name="phone" class="form-control" ng-model="contactCtrl.data.phone"
                           placeholder="Teléfono" ng-pattern="/^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/" required>
                </div>
            </div>
        </div>
        <div ng-if="contactCtrl.name === 'sugerencias'" class="form-group">
            <div ng-class="form.type.$dirty && form.type.$invalid ? 'has-error' : ''">
                <label for="type" class="col-sm-2 col-md-4 control-label">Tipo:</label>
                <div class="col-sm-4 col-md-8">
                    <select id="type" name="type" class="form-control" ng-model="actionCtrl.data.type" required>
                        <option selected>Selecciona el tipo de sugerencia</option>
                        <option>Arbitraje</option>
                        <option>Atención de personal</option>
                        <option>Cancha</option>
                        <option>Instalaciones</option>
                        <option>Sitio web</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div ng-class="form.comment.$dirty && form.comment.$invalid ? 'has-error' : ''">
                <label for="comment" class="col-sm-2 col-md-4 control-label">Comentario:</label>
                <div class="col-sm-4 col-md-8">
                    <textarea id="comment" name="comment" class="form-control" rows="7" maxlength="300"
                              ng-model="contactCtrl.data.comment" placeholder="Comentario" required>
                    </textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-primary" ng-click="contactCtrl.search(form)"
                        ng-disabled="form.$pristine || form.$invalid">Envíar</button>
            </div>
        </div>
    </form>
</div>