<div class="page-header">
    <h1>Galería de fotos</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" ui-sref="galeriaFotos({ id: '1'})">
                <img src="../assets/gallery/foto1-2.jpg" alt="3er Torneo dominical matutino">
                <div class="caption">
                    <h3>3er Torneo dominical matutino</h3>
                    <p>3 fotos</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" ui-sref="galeriaFotos({ id: '2'})">
                <img src="../assets/gallery/foto2-1.jpg" alt="1er Torneo nocturno 2015">
                <div class="caption">
                    <h3>1er Torneo nocturno 2015</h3>
                    <p>2 fotos</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" ui-sref="galeriaFotos({ id: '3'})">
                <img src="../assets/gallery/foto1-2.jpg" alt="3er Torneo dominical matutino">
                <div class="caption">
                    <h3>3er Torneo dominical matutino</h3>
                    <p>3 fotos</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" ui-sref="galeriaFotos({ id: '4'})">
                <img src="../assets/gallery/foto2-1.jpg" alt="1er Torneo nocturno 2015">
                <div class="caption">
                    <h3>1er Torneo nocturno 2015</h3>
                    <p>2 fotos</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" ui-sref="galeriaFotos({ id: '5'})">
                <img src="../assets/gallery/foto1-2.jpg" alt="3er Torneo dominical matutino">
                <div class="caption">
                    <h3>3er Torneo dominical matutino</h3>
                    <p>3 fotos</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail" ui-sref="galeriaFotos({ id: '6'})">
                <img src="../assets/gallery/foto2-1.jpg" alt="1er Torneo nocturno 2015">
                <div class="caption">
                    <h3>1er Torneo nocturno 2015</h3>
                    <p>2 fotos</p>
                </div>
            </a>
        </div>
    </div>
</div>
