<div class="page-header">
    <h1>Rol de Juegos</h1>
</div>
<div class="container">
    <form class="form-horizontal" novalidate name="tournamentForm" id="form">
        <div class="form-group">
            <label for="tournament" class="col-sm-2 col-md-2 control-label">Torneo:</label>
            <div class="col-sm-4 col-md-6">
                <select id="tournament" name="tournament" class="form-control"
                        ng-model="gameRoleCtrl.tournament.data.tournamentId" required>
                    <option selected>1er Torneo nocturno 2016</option>
                    <option>2do Torneo Sabatino Matituno 2016</option>
                    <option>2do Torneo Dominical Matutina 2016</option>
                    <option>2do Torneo Sabatino Vespertino</option>
                    <option>2do Torneo Femenil 2016</option>
                    <option>TORNEO DE CAMPEONES 2016</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-primary" ng-click="gameRoleCtrl.search(tournamentForm)"
                        ng-disabled="tournamentForm.$invalid">Buscar</button>
            </div>
        </div>
    </form>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">10:10pm</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href ui-sref="infoRolDeJuegos({ tournament:1, category: 1, group: 1 })">Grupo 1</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">11:00pm</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href>Grupo 1</a></li>
                    <li class="list-group-item"><a href>Grupo 2</a></li>
                    <li class="list-group-item"><a href>Todos los grupos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">6:00pm</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href>Grupo 1</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">6:50pm</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href>Grupo 1</a></li>
                    <li class="list-group-item"><a href>Grupo 2</a></li>
                    <li class="list-group-item"><a href>Todos los grupos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">8:30m</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href>Grupo 1</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">9:20pm</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href>Grupo 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>