<div class="page-header">
    <h1>Ubicación</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="thumbnail">
                <img src="../assets/ubicacion.png" alt="Ubicación">
            </div>
            <p>Av. Loncoln muy cerca de la clínica 34, a la altura de la calle Pelícano, entre la Farmacia Guadalajara y Agua y Drenaje.</p>
            <a href="https://goo.gl/maps/d2AhK5P4GW22" target="_blank">Google Maps</a>
        </div>
    </div>
</div>
