<div class="page-header">
    <h1>Reglamento</h1>
</div>
<div class="container">
    <div class="row">
        <p>
            REGLAMENTO DE JUEGO FUTBOL 7
            <ol>
                <li>
                    <strong>Regla 1.</strong> Regla 1 Regla 1 Regla 1 Regla 1 Regla 1 Regla 1 Regla 1 Regla 1 Regla 1.
                </li>
                <li>
                    <strong>Regla 2.</strong> Regla 2 Regla 2 Regla 2 Regla 2 Regla 2 Regla 2 Regla 2 Regla 2 Regla 2.
                </li>
                <li>
                    <strong>Regla 3.</strong> Regla 3 Regla 3 Regla 3 Regla 3 Regla 3 Regla 3 Regla 3 Regla 3 Regla 3.<br />
                    <strong>Sub Regla 3</strong>
                    <ul>
                        <li>Sub Regla 3 Sub Regla 3 Sub Regla 3 Sub Regla 3</li>
                        <li>Sub Regla 3 Sub Regla 3 Sub Regla 3 Sub Regla 3</li>
                        <li>Sub Regla 3 Sub Regla 3 Sub Regla 3 Sub Regla 3</li>
                    </ul>
                </li>
            </ol>
        </p>
    </div>
</div>