<div class="page-header">
    <h1>Torneos activos</h1>
    <h4>Información de los torneos activos de la liga</h4>
</div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <p>Torneo: <strong>1er Torneo nocturno 2016</strong></p>
            <ul class="list-unstyled">
                <li>Inicio de Actividades: <strong>2 de Febrero del 2016</strong></li>
                <li>Final de Torneo: <strong>26 de Abril del 2016</strong></li>
            </ul>
        </li>
        <li class="list-group-item">
            <p>Torneo: <strong>2do Torneo Sabatino Matituno 2016</strong></p>
            <ul class="list-unstyled">
                <li>Inicio de Actividades: <strong>20 de Febrero del 2016</strong></li>
                <li>Final de Torneo: <strong>14 de Mayo del 2016</strong></li>
            </ul>
        </li>
        <li class="list-group-item">
            <p>Torneo: <strong>2do Torneo Dominical Matutina 2016</strong></p>
            <ul class="list-unstyled">
                <li>Inicio de Actividades: <strong>13 de Marzo del 2016</strong></li>
                <li>Final de Torneo: <strong>5 de Junio del 2016</strong></li>
            </ul>
        </li>
        <li class="list-group-item">
            <p>Torneo: <strong>2do Torneo Sabatino Vespertino</strong></p>
            <ul class="list-unstyled">
                <li>Inicio de Actividades: <strong>2 de Abril del 2016</strong></li>
                <li>Final de Torneo: <strong>25 de Junio del 2016</strong></li>
            </ul>
        </li>
        <li class="list-group-item">
            <p>Torneo: <strong>2do Torneo Femenil 2016</strong></p>
            <ul class="list-unstyled">
                <li>Inicio de Actividades: <strong>19 de Abril del 2016</strong></li>
                <li>Final de Torneo: <strong>12 de Julio del 2016</strong></li>
            </ul>
        </li>
        <li class="list-group-item">
            <p>Torneo: <strong>TORNEO DE CAMPEONES 2016</strong></p>
            <ul class="list-unstyled">
                <li>Inicio de Actividades: <strong>25 de Abril del 2016</strong></li>
                <li>Final de Torneo: <strong>18 de Julio del 2016</strong></li>
            </ul>
        </li>
    </ul>
</div>
